<h2>Sign Up/ Sign In </h2>
<!--<ul>-->
<!--<li>-->
<!--<h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>-->
<!--</li>-->
<!--</ul>-->


<!--<span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>-->
<!--<div class="ui-inputgroup"> First Name  <input type="text" pInputText placeholder="Firstname" [(ngModel)]="firstName"></div>-->
<!--<div class="ui-inputgroup">  Last Name   <input type="text" pInputText placeholder="Lastname" [(ngModel)]="lastName"></div>-->
<div class="ui-inputgroup">  User Name   <input type="text" pInputText placeholder="Username" [(ngModel)]="userName"></div>
<div> Password <input type="password" pPassword [(ngModel)]="password" [weakLabel]="'your password is weak'"/></div>
<div>
  <button pButton type="button"  (click)="login()"  label="Login"></button>
</div>

