
<div class="container">
    <h1>Add Product</h1>
    <form>
      <div class="form-group">
        <label for="name">Product Name</label>
        <input type="text" class="form-control" id="name" required>
      </div>

      <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text" class="form-control" id="brand">
      </div>
      <div class="form-group">
        <label for="Tubes">Select Tubes Model</label>
        <input type="text" class="form-control" id="tube_model">
      </div>
      <div class="form-group">
        <label for="caps">Select Cap Model</label>
        <input type="text" class="form-control" id="cap_model">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>
