<h1>Our Products</h1>
<p>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>
<!--<img src="result">-->
<!--<img [src]="result" height="150" width="150">-->
<div class="product-image"  *ngFor="let image of result">
  <div class="item">
    <img [src]="image" height="150" width="150" />
  </div>
</div>
<!-- Add product -->
<div class="prdct-btn">
<button type="submit" class="btn btn-primary" (click)="showDialog()" pButton icon="fa-external-link-square" label="Product Add"></button>
</div>
<p-dialog [(visible)]="display">
    <p-header>
    Sign In/Sign Up
    </p-header>
    To add a product Sign In/Sign UP
    <p-footer>
      <a routerLink="/login" routerLinkActive="active">Sign In</a>
      <a routerLink="/login" routerLinkActive="active">/ Sign Up</a>
      <!-- <button pButton type="button" pButton icon="fa-check" (click)="display=false" label="Yes"></button>
      <button pButton type="button" pButton icon="fa-close" (click)="display=false" label="No"></button> -->
    </p-footer>
</p-dialog>
